/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar-home {
  /* Change text alignment */
  text-align: right;
  /* Adjust padding */
  padding: 2rem 0 2rem 1rem;
  color: rgba(255,255,255,.5);
  /* Change sidebar color */
  background-color: rgba(255, 70, 20, 1);

  @media (min-width: 48em) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40%;
    /* Change text alignment */
    text-align: left;

    /* Sticky sidebar */

    .sidebar-sticky {
      /* Change container positioning and padding */
      position: absolute;
      right:  0;
      bottom: 1rem;
      left:   4.6rem;
      padding-right: 0;
    }
  }

  /* Sidebar links */
  a {
    color: #fff;
  }

  /* About section */
  h1 {
    color: #fff;
    margin-top: 0;
    /* Change default font styles */
    font-family: "Playfair Display", Georgia, Times, serif;
    font-weight: 900;
    font-size: 200%;
    line-height: 0.75;
    letter-spacing: -5px;
    /* Adjust heading positioning */
    text-align: right;
    position: relative;
    top: 25%;
    right: -0.1rem;
  }

  /* Sidebar nav */
  .sidebar-nav {
    margin-bottom: 1rem;
  }
  .sidebar-nav-item {
    display: block;
    line-height: 1.75;
  }
  a.sidebar-nav-item:hover,
  a.sidebar-nav-item:focus {
    text-decoration: underline;
  }
  .sidebar-nav-item.active {
    font-weight: bold;
  }
}

/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.content {
  padding-top:    4rem;
  padding-bottom: 4rem;
}

@media (min-width: 48em) {
  .content {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}
